.container {
  height: 40px;
  background-color: #cf3c41;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 20px;
}

.dragZone {
  -webkit-app-region: drag;
  flex: 1;
  height: 100%;
}
