/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~antd/dist/antd.css';
body,
html,
#root {
  font-family: sans-serif;
  height: 100vh;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

input {
  -webkit-app-region: no-drag;
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}
